# App
APP_ENV=development

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TRANSACTIONS_TOPIC=raw-transactions
KAFKA_RESULTS_TOPIC=fraud-results
KAFKA_CONSUMER_GROUP=fraud-detection-group

# Model thresholds
FRAUD_THRESHOLD=0.7
ANOMALY_THRESHOLD=-0.1

# Model paths
FRAUD_MODEL_PATH=app/models/fraud_model.pkl
ANOMALY_MODEL_PATH=app/models/anomaly_model.pkl
SCALER_PATH=app/models/scaler.pkl